*Consumo de cerveja em São Paulo*
Dataset trazendo dados referentes ao consumo de cerveja em São Paulo no ano de 2015. Os dados são: Data, Temperatura Media (C), Temperatura Minima (C), Temperatura Maxima (C), Precipitacao (mm), se é final de semana e Consumo de cerveja (em litros).

In [ ]:
# instalar o scikit-learn 
pip install scikit-learn

In [17]:
# importar as bibliotecas necessárias
import pandas as pd
from sklearn.linear_model import LinearRegression

In [23]:
# Carregar o dataset para um dataframe do pandas
cerveza_df_or = pd.read_csv('Consumo_cerveja.csv')
# tirar os registros em branco
cerveja_df = cerveza_df_or.dropna()
# renomear as colunas
cerveja_df = cerveja_df.rename(columns={'Data': 'date','Temperatura Media (C)': 'temperatura_media',
                                        'Temperatura Minima (C)': 'temperatura_minima','Temperatura Maxima (C)': 'temperatura_maxima',
                                        'Precipitacao (mm)': 'precipitacao','Final de Semana': 'fds',
                                        'Consumo de cerveja (litros)': 'consumo_cerveja'})
# converter os valores para int e float
cerveja_df['fds'] = cerveja_df['fds'].astype(int)
cerveja_df['temperatura_minima'] = cerveja_df['temperatura_minima'].str.replace(',', '.').astype(float)
cerveja_df['temperatura_maxima'] = cerveja_df['temperatura_maxima'].str.replace(',', '.').astype(float)
cerveja_df['temperatura_media'] = cerveja_df['temperatura_media'].str.replace(',', '.').astype(float)
cerveja_df['precipitacao'] = cerveja_df['precipitacao'].str.replace(',', '.').astype(float)
# exibir os dados do dataframe
cerveja_df

,date,temperatura_media,temperatura_minima,temperatura_maxima,precipitacao,fds,consumo_cerveja
0,2015-01-01,27.30,23.9,32.5,0.0,0,25.461
1,2015-01-02,27.02,24.5,33.5,0.0,0,28.972
2,2015-01-03,24.82,22.4,29.9,0.0,1,30.814
3,2015-01-04,23.98,21.5,28.6,1.2,1,29.799
4,2015-01-05,23.82,21.0,28.3,0.0,0,28.900
...,...,...,...,...,...,...,...
360,2015-12-27,24.00,21.1,28.2,13.6,1,32.307
361,2015-12-28,22.64,21.1,26.7,0.0,0,26.095
362,2015-12-29,21.68,20.3,24.1,10.3,0,22.309
363,2015-12-30,21.38,19.3,22.4,6.3,0,20.467
364,2015-12-31,24.76,20.2,29.0,0.0,0,22.446

In [29]:
# Separa as variáveis independentes da variável alvo
X = cerveja_df[['temperatura_media', 'temperatura_minima', 'temperatura_maxima', 'precipitacao', 'fds']]
y = cerveja_df['consumo_cerveja']

# Cria o modelo de regressão linear múltipla
model = LinearRegression().fit(X, y)

# Imprime os coeficientes do modelo
print(model.coef_)

[ 0.03079559 -0.01903491  0.65600076 -0.05746938  5.18318073]

In [30]:
import pickle

# Salva o modelo em um arquivo
with open('modelo_consumo_cerveja.pkl', 'wb') as f:
    pickle.dump(model, f)

In [32]:
import pickle

# Carrega o modelo do arquivo
with open('modelo_consumo_cerveja.pkl', 'rb') as f:
    modelo = pickle.load(f)

# Faz uma previsão para novos dados
nova_previsao = modelo.predict([[26,23,32,0,1]])

print(nova_previsao)

[32.98278361]

C:\Users\10270\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(